
@font-face{
  font-family: 'Poppins';
  src: url(tipografía/Poppins/Poppins-SemiBold.ttf);
  font-weight: bold;
  font-style: bold;
  }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  font-family: 'Poppins';
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 300px;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 70%;
}

.login-form2 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 60%;
  margin-top:15px;
  margin-right: 60px;
  margin-bottom: 15px;
}

.login-form2 h2{
  margin-top: 0;
  width: 250px;
  margin-left:60px;
}

.login-form h2 {
  margin-top: 0;
  width: 250px;
  margin-left:60px;
}

input[type="email"],
input[type="password"],
button {
  width: 90%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 40px;
  margin-right:10px;

}

#email{
  margin-right:10px;
}

.botoprincipal{
  background-color: blacK;
  color: #fff;
  border-radius: 40px;
  width: 180px;
  margin-left: 85px ;
  margin-top:15px;
  border: none;
  
}

.botoprincipal:hover{
  background-color: #F49806;
  border:none;
}

.butonr{
  background-color: white;
  color: black;
  border-radius: 40px;
  border-color: black;
  width: 180px;
  margin-left: 85px ;
  margin-top:-4px;
  
}

.butonr:hover{
  background-color: #F49806;
}

img {
  max-width: 100%;
  
}

.principal{
  height: 25%;
  width: 63%;
}

.pregunta{
  margin-left: 23% ;
  margin-top:2px;
}

.pregunta2{
  margin-left: 13% ;
}

.pregunta3{
  margin-left: 20%;
}

p{
  margin-left:5px;
}


.container3 {
  display: flex;
  width: 60%;
  max-width: 40px;
}

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left img {
  max-width: 80%;
  height: auto;
}

.right form {
  width: 80%;
  max-width: 400px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-container label {
  flex: 1;
  margin-right: 10px;
}

.input-container input {
  flex: 2;
  padding: 5px;
}

.boto2 {
  width: 100%;
  padding: 10px;
  background-color:white;
  color: black;
  cursor: pointer;
  font-size: 16px;
  width: 40%;
  margin-left: 100px;
  border-color: black;
}

.boto2:hover {
  background-color: #F49806;
}

.buton3 {
  width: 100%;
  padding: 10px;
  background-color: black;
  border: none;
  color:white; 
  cursor: pointer;
  font-size: 16px;
  width: 40%;
  margin-left: 100px;
}

.buton3:hover {
  background-color: #F49806;
}

.container3 {
  display: flex;
  width: 70%;
  max-width: 1000px;
}

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left img {
  max-width: 120%;
  height: 100%;
  margin-left:40px;
}

.right form {
  width: 100%;
  max-width: 400px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-container label {
  flex: 1;
}

.input-container input {
  flex: 2;
  padding: 5px;
}

.button3 {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.button3:hover {
  background-color: #0056b3;
}

.propiedades{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10px;
    margin-top:10px;

}

.right{
  width: 40%;
  height: 75%;
}

.cliente{
  margin-left: 200px;
  margin-top:-34px;
  display: flex;
}

input[type="text2"]{
  width: 40%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 40px;
  margin-right:5px;
}

input[type="text"]{
  width: 40%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 40px;
  margin-right:5px;
}

.link{
  color:#F49806;
  text-decoration: none;
}

.link1{
  text-decoration: none;
  color:black;
  border: none;
}

.link2{
  text-decoration: none ;
  color:white;
  border: none;
}



.ciudad{
  margin-left: 200px;
  margin-top:-42px;
  display: flex;
  width: 40px;
}

.ciudad2{
  margin-left: 200px;
  margin-top:-33px;
  display: flex;
  width: 40px;
}

.cliente3{
  margin-left: 200px;
  margin-top:-34px;
  display: flex;
}

header {
  background-color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 60%;
  max-width: 1200px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.menu-item.left {
  justify-content: flex-start;
  padding-left: 1px;
}

.menu-item.center {
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 70%;
  margin-left: 180px;
}

.menu-item.right {
  justify-content: flex-end;
  padding-right: 20px; 
}

.menu-item img {
  max-height: 50px;
  height: auto;
}

.imagenes{
  width: 30px;
  margin-left: 450%;
}

.imagenes1{
  width: 30px;
  margin-left: 750%;
}

@media (max-width: 768px) {
  .menu-item.left,
  .menu-item.right {
      flex: 1;
  }

  .menu-item.center {
      flex: 2;
  }
}

.perfil{
  margin-right: 60px;
}

.logo2{
  width: 100%;
}

.banner {
  position: relative;
  background-image: url(IMAGENES/Banner.png); /* Reemplaza 'banner.jpg' con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  height: 500px; /* Ajusta la altura del banner según tus necesidades */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad del texto */
  padding: 20px;
  border-radius: 10px;
}

.banner h1 {
  margin: 0;
  font-size: 2.5em;
}

.banner p {
  margin: 10px 0 20px;
  font-size: 1.2em;
}

.btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.btn:hover {
  background-color: #0056b3;
}


header {
  background-color: white;
  padding: 10px 0;
  color: white;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
}

button {
  padding: 10px;
  border: 1px solid #F49806;
  border-left: none;
  background-color: #F49806;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #C57900;
  border-color: #C57900;
}

.lupa{
  width: 15px;
}

.comidas{
  margin-left: 290px;
}

.pizza{
  width: 70px;
  padding: 20px;
}

.ensalada{
  width: 80px;
  padding: 20px;
}

.postres{
  width: 70px;
  padding: 20px;
}

.pastas{
  width: 80px;
  padding: 20px;
}

.platos{
  width: 110px;
  padding: 20px;
}

.aperitivos{
  width: 75px;
  padding: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 40px;
  width: 80%;
  max-width: 700px;
  margin-left:350px;
  margin-top: 80px;
}

.card {
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.card-subtitle {
  font-size: 1.2em;
  color: #777;
  margin: 0 0 20px 0;
}

.card-button {
  background-color: #F49806;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  margin-top: auto; /* Empuja el botón al fondo del contenedor */
  width: 200px;
}

.card-button:hover {
  background-color: #C57900;
}


.footer {
  background-color: #C57900;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.social-icon img {
  max-width: 90%;
  max-height: 90%;
}

.profile-container {
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.profile-container {
  width: 100%;
  max-width: 1650px; /* Máximo ancho del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  background-color: white;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner2 {
  position: relative;
  height: 400px; /* Altura del banner */
  overflow: hidden;
}

.banner2-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre todo el contenedor manteniendo la proporción */
}

.profile-picture-container {
  position: absolute;
  left: 150px; /* Posiciona la imagen a la izquierda */
  bottom: 20px;
  width: 180px;
  height: 170px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubre todo el contenedor manteniendo la proporción */
}

.profile-details {
  text-align: left; /* Texto alineado a la izquierda */
  padding: 100px 20px 20px 190px; /* Espacio para la imagen de perfil */
}

.profile-name {
  font-size: 1.5em;
  margin: 0;
}

.profile-bio {
  font-size: 1em;
  color: #555;
  margin-top: 10px;
}

.seguidores{
  margin-left: 150px;
  margin-top: -40px;
}

#seguir{
  background-color: black;
  color: white;
  border: 10px;
  padding: 10px;
  width: 90px;
  margin-left:1100px;
  margin-top: 30px;
  position: relative;
}

#seguirperfil{
  background-color: black;
  color: white;
  border: 10px;
  padding: 10px;
  width: 90px;
  margin-left:1100px;
  margin-top: 30px;
  position: relative;
}

.titulos{
  margin-left: 450px;
  font-size: 50px;
}


.card2 {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #ECE5E5;
  width: 800px;
  margin-left: 300px;
}

.card2-image img {
  width: 2000px;
  height: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.card2-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card2-content h2 {
  margin: 0 0 10px 0;
}

.card2-content p {
  margin: 0 0 20px 0;
  color: black;
}

.card2-icons {
  display: flex;
  justify-content: flex-end;
}

.card2-icons .icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.vermas{
 width: 110px;
 margin-left:100px;
 background-color: #BDB8B8;
 color: black;
 border: none;
}

.vermas1{
  width: 110px;
  margin-left:130px;
  background-color: #BDB8B8;
  color: black;
  border: none;
 }

.vermas2{
  width: 110px;
  margin-left:150px;
  background-color: #BDB8B8;
  color: black;
  border: none;
 }

.coment{
  color:#F49806
}

.recetault{
  background-color: #F49806;
  padding:50px;
}


.card4 {
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ECE5E5;
  width: 500px;
  text-align: center;
  margin-left: 380px;
}

.card4-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card4-content {
  padding: 20px;
  align-items: normal;
}

.card4-content h2 {
  margin: 0 0 10px 0;
}

.card4-content p {
  margin: 0;
  color: black;
}

.preparacion{
  color:black;
}

.comment-container {
  display: flex;
  align-items: center;
  width: 500px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-input {
  flex-grow: 1;
  margin-left: 10px;
}

.comment-input input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  background-color: #ECE5E5;
}

.mensaj{
  margin-right: 20px;
  width: 20px;
  margin-top:15px;
}